<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   
   <bean id="userService" class="com.ssh.service.UserServiceImpl">
       <property name="baseDAO" ref="baseDAO"/>
    </bean>
   
   <bean name="loginAction" class="com.ssh.action.LoginAction" scope="prototype">
        <property name="userService" ref="userService"/>
   </bean>

   <bean name="FileUploadAction" class="com.ssh.action.FileUploadAction">
        <property name="upLoadService" ref="upLoadService"/>
   </bean>
   <bean name="FileDownloadAction" class="com.ssh.action.FileDownloadAction">
           <property name="upLoadService" ref="upLoadService"/>
   </bean>
</beans>