<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="baseDAO" class="com.ssh.dao.BaseDAOImpl">
       <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="userService" class="com.ssh.service.UserServiceImpl">
       <property name="baseDAO" ref="baseDAO"/>
    </bean>
   
   <bean id="upLoadService" class="com.ssh.service.UpLoadServiceImpl">
       <property name="baseDAO" ref="baseDAO"/>
    </bean>
</beans>